@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#root {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.formagregaractualizarequipo {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-top: 5%;
  color: yellow;
}

.cajaadminequiposactualizarequipo {
  width: 15%;
}

.formaactualizarequipo {
  color: turquoise;
  font-size: large;
  background-color: rgba(5 3 0 / 70%); /* bisque con 70% de opacidad */
  padding: 1%;
  border-radius: 25px;
  width: 80%;
}

.formaactualizarequipo .formlabelactualizarequipo {
  font-family: "Roboto", sans-serif;
  /* font-weight: 100; */
  /* font-style: normal; */
  background-color: black;
  padding: 0px 27px;
  border-radius: 25px;
}
