body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.cajaprincipal {
  margin-top: 1%;
  padding: 5px;
  font-size: smaller;
}

/*--------Fecha y num empleado------------------------------------------*/
.datosempleadoid {
  display: flex;
  justify-content: end;
}

.datosempleadoid label {
  background-color: aqua;
  border: 1px solid black;
  padding: 3px;
}

/*--------------datos empleado---------------------------------------------------*/
.datosempleado {
  display: flex;
  width: 100%;
  background-color: blue;
}

.datosempleado label {
  background-color: aqua;
  width: 30%;
  border: 1px solid black;
}

.datosempleado input {
  width: 70%;
}

/*-----------datos del equipo--------------------------------------------------*/

.noinventarioserie {
  display: flex;
  width: 100%;
}

.invserproram {
  width: 50%;
}

.invserproram label {
  background-color: aqua;
  width: 30%;
  border: 1px solid black;
}

.invserproram input {
  width: 70%;
}

.datosequipo {
  width: 100%;
}

.datosequipo label {
  background-color: aqua;
  width: 30%;
  border: 1px solid black;
}

.datosequipo input {
  width: 70%;
}

.datoprocesador{
  width: 50%;
}
.datoprocesador label{
  background-color: aqua;
  width: 40%;
  border: 1px solid black;
}
.datoprocesador input{
  width: 59%;
}

.datoram{
  width: 50%;
}

.datoram label{
background-color: aqua;
width: 70%;
border: 1px solid black;
}

.datoram input{
  width: 30%;
}

/*---------observaciones---------------------------------*/
.cajaobservaciones {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.cajasecundariaobservaciones {
  display: flex;
}

.cajasecundariaobservaciones label {
  background-color: aqua;
  border: 1px solid black;
  width: 20%;
}

.cajasecundariaobservaciones input{
  width: 80%;
}


/*---------importante---------------------------------------------------------*/

.cajaimportante{
  display: flex;
  flex-direction: column;
}

.cajaimportante textarea{
  height: 14rem;
  font-size: smaller;
}

/*----------firmas--------------------*/
.signature{
  display: flex;
    gap: 28px;
    margin-top: 8px;
}

.signaturedatos{
  display: flex;
  flex-direction: column;
  gap: 1px;
}