.containerverequipos {
  margin-top: 8%;
  display: flex;
  gap: 10px;
}

.cajaprincipalverequipos {
  opacity: 90%;
  width: 83%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cajaadminequiposverequipos {
  width: 15%;
  margin-left: 1rem;
}

h1 {
  color: white;
}
