.cajaprincipalbusquedaequipos {
  margin-top: 5%;
  color: yellow;
  display: flex;
}

.cajaadminequiposbusquedaequipos {
  width: 17%;
}

.colbuscar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colbuscarequipos {
  display: flex;
  gap: 1%;
}
