#root {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.cajaadminequiposdatoscompletos {
  width: 15%;
}

h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.text-center-inputdatoscompletosdatoscompletos {
  margin-bottom: 3%;
}

.containerformdatoscompletos {
  margin-top: 5%;
  display: flex;

  width: 100%;
}

.cajaprincipaldatoscompletos {
  display: flex;
  gap: 16px;
  color: #40e0d0;
  font-size: large;
  padding: 1%;
  border-radius: 25px;
  width: 100%;
  justify-content: end;
}

.cajadatosdatoscompletos {
  border: 3px solid teal;
  color: #40e0d0;
  font-size: large;
  background-color: #050300b3;
  padding: 1%;
  height: 100%;
  border-radius: 8px;
  width: 90%;
}
.botonesdatoscompletos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
  margin-bottom: 7px;
}

.formLabeldatoscompletos {
  margin: 1px 0px 4px;
  font-weight: bold;
  font-family: monospace;
  font-size: larger;
  background-color: black;
}

.h2datos {
  text-align: center;
  border-radius: 25px;
  padding: 1px;
  color: lightyellow;
}

.cajadatosequipodatoscompletos {
  border: 3px solid teal;

  padding: 1%;
  height: 100%;
  border-radius: 8px;
}

.cajadatosmepleadoimagendatoscompletos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 56%;
  gap: 10px;
  align-items: flex-end;
}

.cajaprincipalimgequipo {
  width: 100%;
  height: 50%;
}

.imgequipo {
  width: 100%;
  object-fit: cover;
}
