@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#root {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.containeragregarequipo {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.cajasecundariaagregarequipo {
  margin-top: 5%;
  width: 84%;
}

.cajaagregarEquipo {
  color: white;
}

.cajaagregarEquipo h1 {
  color: white;
  text-align: center;
  font-family: 'Roboto';
  background-color: midnightblue;
  width: 100%;
  border-radius: 25px;
}

.formagregarequipo {
  color: turquoise;
  font-size: large;
  background-color:rgba(5 3 0 / 70%); /* bisque con 70% de opacidad */
  padding: 1%;
  border-radius: 25px;
}

.formagregarequipo .formLabelagregarequipo {
  font-family: "Roboto", sans-serif;
  /* font-weight: 100; */
  /* font-style: normal; */
  background-color: black;
  padding: 0px 27px;
  border-radius: 25px;
}

.cajaadminequiposagregarequipo {
  width: 15%;
}

.inputagregarequipo {
  display: flex;
  flex-direction: column;
  width: 347px;
  background-color: #0d1117;
  justify-content: center;
  border-radius: 10px;
  transition: 1s;
  padding: 10px;
  overflow: hidden;
}

.cajabotonagregarequipo {
  display: flex;
  justify-content: center;
}
